.example-tel-input-container {
  display: flexbox;
  margin-left: 15px;
  justify-content: center;
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-tel-input-element {
  border: none;
  background: grey;
  padding: 15px;
  outline: none;
  font: inherit;
  text-align: center;
  width: 100%;
}

.example-tel-input-spacer {
  opacity: 1;
  transition: opacity 200ms;
  color:whitesmoke;

}

form {
  padding-bottom: 15px;
  padding-top: 15px;
}


.example {
  display: flex;
  align-content: center;
  align-items: center;
  height: 60px;
  background-color: rgb(99, 99, 99);
  width: 100%;
  color: white;
}